@charset "UTF-8";
/* CSS Document */
/* Content of opinions */

/* Hacer la página responsive */
@media screen and (max-width: 836px) {
	.content {
		width: 100%;
	}
	
	#scores > h1 {
		width: 100%;
		text-align: center;
	}

	#scores > ul {
		width: 100%;
	}
	
	#sidebar {
		position: relative;
		top: 0;
	}
}